.button{
  height: 48px;
  width: 152px;
  background-color: #0B213F !important;
  display: flex !important;
  border-radius: 16px !important;
  align-items: center !important;
  justify-content: space-between !important;
  padding: 0 30px !important;
}
