.header {
  width: 1290px;
  height: 80px;
  margin: 0 auto;
  background-color: #EBA000;
  display: flex;
  border-radius: 16px;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}


