.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main{
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}