.card {
    border-radius: 16px;
    border: 3px solid #c6c5c9;
    display: flex;
    align-items: center;
    width: 300px;
    height: 312px;
    flex-basis: calc(25% - 20px);
    margin: 10px;
    cursor: pointer;
}

.modal-overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    background-color: #fff;
    border-radius: 16px;
    border: 3px solid #c6c5c9;
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -10px;
    margin-right: -10px;
    cursor: pointer;
}
